body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .slideshow {
    border: 10px solid #3e3e3e;
    background-color: #3e3e3e;
    width: 350px;
    height: 350px;
    position: relative;
    z-index: 0;
  
    /* You could code here */
  }
  
  .slideshow img.slide {
    width: 100%;
    position: absolute;
    transition: opacity 500ms;
    /* You could code here */
  }
  
  .slideshow div.caption {
    bottom: 30px;
    left: 30px;
    font-size: 0.9em;
    font-weight: bold;
    padding: 6px 15px;
    position: absolute;
    border: 2px solid white; 
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 2;
    height: 20px;  
    /* You could add code here */
  }
  
  /* You can even add more code if it's needed */
  